<!DOCTYPE html>
<html>
  <head>
    <title>Avances en compuatcion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="RED">
    <h1><%= title %></h1>
    <p>bienvenido </p>
    <a href="regContacto"> registro contacto<a>
  </body>
</html>
