<!DOCTYPE html>
<html>
  <head>
    <title>peliculas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="" ="GREEN">
    <h2>GENERO = <% objeto.genero/h2>
    <h2>NOMBRE = <% objeto.nombre/h2>
    <h2>PRECIO = <% objeto.precio/h2>
    <h2>TIEMPO = <% objeto.tiempo/h2>
    </body>
</html>
